div{
    font-size: 15dvh;
    background-color: rgb(255, 123, 123);
    width: 40dvh;
    height: 20dvh;
    text-align: center;
    cursor: pointer;
    align-content: center;
}
body{
    display: flex;
    gap: 2dvh;
    flex-wrap: wrap;
    justify-content: center;
}